@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
$primary-default: #17cf73;
$primary-dark: #0f8a4c;
$border: #404040;
$text: #eee;
* {
	box-sizing: border-box;
}
@media screen and (min-width: 800px) {
	//big
	html {
		font-size: 20px;
	}
}
@media screen and (max-width: 800px) {
	//small
	html {
		font-size: 8px;
	}
}
html {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100vw;
	height: 100vh;
}
@media screen and (max-width: 800px) {
	html {
		font-size: calc(1vw + 10px);
	}
}

body {
	padding: 0;
	margin: 0;
	overflow: scroll;
	height: 100%;
	width: 100%;
	background-image: url("/assets/img/background.jpeg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: $text;
	padding: 0;
	margin: 0;
}
h1,
h2,
h3 {
	font-family: "Fugaz One", cursive;
}
h4,
h5,
h6,
p {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
	font-size: 4rem;
}
h4 {
	font-size: 1.25rem;
}
h5 {
	font-size: 1.5rem;
}
li {
	list-style-type: none;
}
*::-webkit-scrollbar {
	width: 0;
	height: 0;
}
button {
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
	text-align: center;
	padding: 0.5rem 1rem;
	border-radius: 0.25rem;
	background-color: $primary-dark;
	color: $text;
	font-size: 1.5rem;
}
#my-input {
	border: 1px solid $border;
	background-color: #eeeeee;
	color: $border;
	padding: 0.4rem 1rem;
	font-size: 1.5rem;
	border-radius: 0.25rem;
}

#header {
	z-index: 4;
	width: 100vw;
	position: fixed;
	height: 5rem;
	.header-content {
		padding: 1rem;
		max-width: 70rem;
		margin: 0 auto;
		@include flex-container(row, space-between, center, nowrap);
		#logo {
			height: 60px;
		}
		.links {
			.instagram,
			#instagram {
				height: 32px;
			}
		}
	}
}
section {
	padding: 1rem;
	height: calc(100% - 5rem);
	&.landing {
		@include flex-container(row, center, center, wrap);
		padding-bottom: 5rem;
		.content {
			background: rgba(255, 255, 255, 0.25);
			box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
			backdrop-filter: blur(4px);
			-webkit-backdrop-filter: blur(4px);
			border-radius: 10px;
			border: 1px solid rgba(255, 255, 255, 0.18);
			z-index: 2;
			white-space: nowrap;
			padding: 2rem 4rem;
			#my-form {
				padding: 2rem 0;
				@include flex-container(column, flex-start, flex-start, nowrap);
				input {
					margin: 0.5rem 0;
					width: 100%;
				}
				button {
					width: 100%;
				}
			}
		}
		.phone {
			z-index: 1;
			width: 100%;
			max-width: 30rem;
			img {
				width: 100%;
			}
		}
	}
}
@media screen and (max-width: 800px) {
	section {
		margin-top: 5rem;
		&.landing {
			padding-bottom: 1rem;

			@include flex-container(column, flex-start, center, nowrap);
			.content {
				z-index: 2;
				white-space: normal;
			}
		}
	}
}
